@font-face {
  font-family: cmu;
  src: url(../fonts/cmunss.ttf);
  font-weight: normal;
}

@font-face {
  font-family: cmu;
  src: url(../fonts/cmunsx.ttf);
  font-weight: bold;
}

html,
body {
  font-family: cmu;
  margin: 0;
}

p {
  font-family: cmu;
}

.mantine-Timeline-itemTitle {
  font-size: 16pt;
}
